<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Names of the Customers</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>

<form method="GET" action="/info">
<p>Get the Basic Information of the Customer: <input type="text" name="name"> <input type="submit" value="Get Info"></p>
</form>

<form method="POST" action="/debit_balance">
<p>Get the Debit Account Balance of the Customer: <input type="text" name="name"> <input type="submit" value="Get Balance"></p>
</form>

<form method="POST" action="/credit_balance">
<p>Get the Credit Account Balance of the Customer: <input type="text" name="name"> <input type="submit" value="Get Balance"></p>
</form>

<form method="POST" action="/transactions">
<p>Get the Transaction Records of the Customer: <input type="text" name="name"> <input type="submit" value="Get Record"></p>
</form>

</body>


</html>
